body {
    font-family: 'Domine', serif;
    text-align: center;
    font-size: 1.1em;
    background-color: lightpink;
    color: #333;
}



h1 {
    font-size: 35px;
    padding: 1em 0;
}

h2 {
    font-size: 28px;
    padding: 1em 0;

}

h3 {
    font-size: 24px;
    padding: 1em 0;

}

p {
    font-size: 15px;
    padding: 1em 0;
}

.botao {
    display: inline-block;
    background: lightpink;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid;
    border-radius: 15px;
    margin: 0.5em 0;
}

.botao:hover {
    background: white;
    color: pink;
    transition: 1s;
}

#showcase {
    min-height: 450px;
    color: rgb(130, 43, 58);

}

#showcase>.conteudo {
    display: inline-block;
    position: relative;

}

#showcase .bg-imagem {
    position: absolute;
    background: url("../images/bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 1.4;
}

#showcase .conteudo,
#section-1 .conteudo {
    padding: 0 1.5em;
}

#section-1 {
    background: white;
    color: rgb(130, 43, 58);
    padding-bottom: 2em;
}

.card-img {
    width: 100%;
    height: 100%;

}


#section-2>.produtos {

    display: flex;
    gap: 30px;
    width: 940px;
    margin: 0 auto;
}

.produtos>li {
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
    background: white;
    color: rgb(130, 43, 58);
    margin: 20px 0 20px 0;

}

.card-conteudo {
    padding: 1.5em;
    letter-spacing: 3px;
    text-align: center;

}

.card {
    display: block;
    width: 100%;
    height: auto;
}

#section-3 {
    background: white;
    color: rgb(130, 43, 58);
    padding: 2em;
}

.box-flex {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#caixa-1 {
    background: rgb(249, 220, 224);
    color: rgb(130, 43, 58);
    width: 630px;
    height: 300px;

}

#caixa-2 {
    background: rgb(130, 43, 58);
    color: rgb(249, 220, 224);
    width: 630px;
    height: 300px;
}

#caixa-1 img {
    width: 30px;
    height: 30px;
    padding: 2em;
}

#caixa-1 img:hover {
    background: white;
    transform: rotate(20deg);
}

#caixa-1 a {
    text-decoration: none;
}



#main-footer div {
    text-align: center;
}


#main-footer {
    padding: 2em;
    background: black;
    color: white;
    text-align: center;

}

#main-footer a {
    color: pink;
    text-decoration: none;
}

#main-footer a:hover {
    color: rgb(199, 188, 198);
    cursor: pointer;
    text-decoration: underline;
}

/* ==================== TENTANDO ======================= */

@media (max-width:600px) {
    #section-2>.produtos {
        display: flex;
        flex-direction: column;
    }


}