body {
    font-family: 'Domine', serif;
    text-align: center;
    font-size: 1.1em;
    background: lightpink;
    color: #333;
}



h1 {
    font-size: 35px;
    padding: 1em 0;
}

h2 {
    font-size: 28px;
    padding: 1em 0;

}

h3 {
    font-size: 24px;
    padding: 1em 0;

}

p {
    font-size: 15px;
    padding: 1em 0;
}

.botao {
    display: inline-block;
    background: lightpink;
    color: white;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid;
    border-radius: 15px;
    margin: 0.5em 0;
}

.botao:hover {
    background: white;
    color: pink;
    transition: 1s;
}

#showcase {
    min-height: 450px;
    color: rgb(130, 43, 58);
    text-align: center;
}

#showcase .bg-imagem {
    position: absolute;
    background: url(https://pixnio.com/free-images/2017/05/16/2017-05-16-09-51-50.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 1.4;
}

#showcase .conteudo,
#section-1 .conteudo {
    padding: 0 1.5em;
}

#section-1 {
    background: white;
    color: rgb(130, 43, 58);
    padding-bottom: 2em;
}

.card {
    display: block;
    width: 100%;
    height: auto;

}


#section-2 .produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
    text-align: center;
}

#section-2 .produtos li {
    display: inline-block;
    text-align: center;
    vertical-align: auto;
    width: 30%;
    margin: 0 1.5%;
    box-sizing: border-box;
    background: white;
    color: rgb(130, 43, 58);

}

.card-conteudo {
    padding: 1.5em;
}

#section-3 {
    background: white;
    color: rgb(130, 43, 58);
    padding: 2em;
}

#caixa-1 {
    color: white;
    width: 627px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
}

#caixa-1 img {
    width: 30px;
    height: 30px;
    padding: 1em;
}

#caixa-1 img:hover {
    background: white;
    transform: rotate(20deg);
}

#caixa-1 a {
    text-decoration: none;
}

#caixa-2 {
    background: rgb(249, 220, 224);
    color: rgb(130, 43, 58);
    width: 630px;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 0;
}

#main-footer div {
    text-align: center;
}


#main-footer {
    padding: 2em;
    background: black;
    color: white;
    text-align: center;

}

#main-footer a {
    color: pink;
    text-decoration: none;
}

#main-footer a:hover {
    color: rgb(199, 188, 198);
    cursor: pointer;
    text-decoration: underline;
}